@using Reader.Infrastructure
@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="row-fluid fill">
    <div class="span3 well sidebar">
        <!--Sidebar content-->
        <ul class="nav nav-list">
            <li><a class="btn" data-bind="click: getFeeds">Get Feeds</a></li>
            <li class="nav-header">Feeds</li>
            
            <!-- ko template: { name: 'feed-template', foreach: feeds } --><!-- /ko -->
        </ul>
    </div>
    <div class="span9 well body fill">
        <!--Body content-->
        <ul class="nav nav-tabs nav-stacked">
            <li class="nav-header" databind="text: selectedFeed.name"></li>
            <!-- ko foreach: selectedFeed.posts -->
            <li><a href="#" data-bind="text: name"></a></li>
            <!-- /ko -->
        </ul>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        ko.trackDeep = function(obj, propertyNames) {
            if (obj instanceof Array) {
                obj.forEach(function(item) {
                    ko.trackDeep(item, propertyNames);
                });
            } else if (obj instanceof Object && !(obj instanceof Function)) {
                (propertyNames || Object.getOwnPropertyNames(obj)).forEach(function(propertyName) {
                    if (obj[propertyName] !== undefined)
                        ko.trackDeep(obj[propertyName], propertyNames);
                });
                ko.track(obj);
            }
        };

        $(function () {
            var model = {
                feeds: $.parseJSON('@Extensions.ToJson(Model.feeds)'),
                selectedFeed: {
                    name: 'Haacked',
                    posts: [
                        { name: 'Post 1 - This is a wonderful post' },
                        { name: 'Post 2 - This is a wonderful post' },
                        { name: 'Post 3 - This is a wonderful post' },
                        { name: 'Post 4 - This is a wonderful post' },
                        { name: 'Post 5 - This is a wonderful post' },
                        { name: 'Post 6 - This is a wonderful post' }]
                },
                getFeeds: function() {
                    $.get('@Url.HttpRouteUrl("DefaultApi", new {controller = "UserFeeds"})', function(data) {
                        ko.trackDeep(data);
                        model.feeds = data;
                    });
                }
            };

            ko.trackDeep(model);

            ko.applyBindings(model);

            window.viewModel = model;
        });

    </script>
    
    <script type="text/html" id="feed-template">
        <!-- ko if: $data.isGroup -->
        <li>
            <ul class="nav nav-list">
                <li class="nav-header" data-bind="text: name"></li>
                <!-- ko template: { name: 'feed-template', foreach: nodes } -->
                <!-- /ko -->
            </ul>
        </li>
        <li class="divider"></li>
        <!-- /ko -->
        <!-- ko ifnot: $data.isGroup -->
        <li><a href="#" data-bind="text: name"></a></li>
        <!-- /ko -->
    </script>
}